   /* this is the reordered stylesheet - I have just put the link styling at the bottom so that you can find it more easily. */
   /* import a typeface to use */
   
   @import url('https://rsms.me/inter/inter.css');
   html {
       font-family: 'Inter', sans-serif;
   }
   
   @supports (font-variation-settings: normal) {
       html {
           font-family: 'Inter var', sans-serif;
       }
   }
   /* I would put all the element selectors first, so body is in the right place here - it's the foundation we are building on */
   
   body {
       margin: 0;
       padding: 0;
       color: #333;
   }
   /* there are no other element selectors, so let's put the code in the same order as the html, so header, main, footer... */
   /* PAGE HEADING */
   
   .page-header {
       background: red;
       background-image: linear-gradient(red, darkred);
       padding-top: 2rem;
   }
   /* this rule goes before the H1 as we want this to visually display above it */
   
   .page-header h1:before {
       content: '';
       display: block;
       background: darkred;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       margin: 0 auto 0.5rem auto;
   }
   
   .page-header h1 {
       font-size: 1rem;
       text-transform: uppercase;
       color: white;
       margin: 0;
       padding: 1rem 0;
       font-weight: 900;
       text-align: center;
   }
   /* we build up the nav in the same order as the HTML, so ul, then li, then a, then a:hover states */
   
   .page-header ul {
       list-style-type: none;
       text-transform: uppercase;
       display: flex;
       margin: 0;
       padding: 0;
   }
   
   .page-header ul li {
       flex: 1;
       text-align: center;
   }
   
   .page-header ul li a {
       display: block;
       padding: 1rem;
       border: 1px solid rgba(255, 255, 255, 0.25);
       border-left: 0;
       font-weight: 700;
       transition: background 0.2s ease;
   }
   
   .page-header ul li a:hover {
       background: darkred;
   }
   /* END PAGE HEADING */
   /* PAGE CONTENT */
   
   .page-content {
       max-width: 600px;
       margin: 5rem auto;
       line-height: 1.35;
   }
   /* global styles for all elements of this area */
   
   .page-content h2,
   .page-content h3,
   .page-content p {
       margin: 0;
       padding: 0;
   }
   /* styling individual elements in this section */
   
   .page-content h2 {
       font-size: 2rem;
       font-weight: 200;
   }
   
   .page-content h2,
   .page-content h3 {
       margin-top: 2rem;
       color: red;
       margin-bottom: 0.25rem;
   }
   
   .page-content p+p {
       text-indent: 1rem;
   }
   /* END PAGE CONTENT */
   /* PAGE FOOTER */
   /* Again, in order from most general to most specific parts of the HTML */
   
   .page-footer {
       margin-top: 5rem;
       background-color: #333;
       padding: 2rem 0 8rem 0;
   }
   
   .page-footer ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
       display: flex;
       justify-content: center;
   }
   
   .page-footer li+li:before {
       content: '·';
       display: inline-block;
       padding: 0 0.5rem;
       color: white;
   }
   /* END PAGE FOOTER */
   /* The hyperlink styling we wanted you to add... */
   /* So this selector only styles links within the .page-header area */
   
   .page-header a {
       color: white;
       text-decoration: none;
       /* turn off the underline - always be careful doing this as it can affect accessibility. Think about the context of where your links are on the page. */
   }
   /* we don't need to style the links in the page content as they are already blue! But if you did want to change them you'd do something like:
.page-content a {
    color: purple;
    }
    
    */
   /* then finally */
   
   .page-footer a {
       color: red;
   }